<div class="m-auto w-75 mt-5">
    <aigo-ai-header title="AIgo Chat" description="Our most advanced conversation model." [icon]="messageIcon"></aigo-ai-header>
    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" class="form-group d-flex flex-column gap-2 border border-light border-2 rounded-4 p-3 mt-3">
        <div>
            <textarea 
                type="textbox" 
                name="chatInput" 
                formControlName="chatInput"
                id="chatInput" 
                class="form-control h-50 border-0 text-light" 
                style="resize: none; background: none;" 
                placeholder="How do i calculate the radius of a circle?"
            >
            </textarea>
        </div>
        <button type="submit" class="btn border border-light border-2 rounded-4 w-25 m-auto mt-2 text-light" [disabled]="!chatForm.valid">
            Generate
        </button>
    </form>
    <div *ngIf="response.errorMessage">
        <p>
            {{ response.errorMessage }}
        </p>
    </div>
    <div *ngIf="chat.length >= 1" class="w-100 m-0 p-0"> 
        <h3>Conversation</h3>
        <ul class="list-group-flush">
            <li 
                *ngFor="let message of chat" class="list-group-item w-100 my-2 p-2 rounded"
                [ngClass]="message.role === 'user' ? 'list-group-item-light' : 'list-group-item-primary'"
            >
                <p>
                    {{ message.content }}
                </p>
            </li>
            <p *ngIf="response.loading">
                Loading
            </p>
        </ul>
    </div>
    <ng-template #content let-modal>
        <aigo-pro-modal [modal]="modal"></aigo-pro-modal>
    </ng-template>
</div>