<div class="mt-3">
    <h1 class="fs-2 text-center">Explore the power of AIgo</h1>
    <nav>
        <ul>
            <li class="list-group-item">
                <a routerLink="chat">Conversation</a>
            </li>
            <li class="list-group-item">
                <a routerLink="code-generation">Code Generation</a>
            </li>
            <li class="list-group-item">
                <a routerLink="image-generation">Image Generation</a>
            </li>
        </ul>
    </nav>
    <div>
        <p>Free tokens {{ user.tokens }}</p>
        <button  class="btn btn-secondary" (click)="openVerticallyCentered(content)">
            <a>Buy Tokens</a>
        </button>
    </div>
    <ng-template #content let-modal>
        <aigo-pro-modal [modal]="modal"></aigo-pro-modal>
    </ng-template>
</div>
