<div class="m-auto w-75 mt-3 max-container text-light">
    <div class="w-100">
        <h2 class="text-center">Explore the power of</h2>
        <div class="ai-logo_container w-50 mx-auto">
            <img src="assets/ai.go-logo.png" class="ai-logo_img mx-auto d-block"/>
        </div>
    </div>
    <nav class="w-100 mt-5 d-flex flex-column gap-4">
            <aigo-dashboard-model-link 
                *ngFor="let model of modelsLink" 
                [modelLink]="model"
            >
            </aigo-dashboard-model-link>
    </nav>
</div>
