<div class="m-auto w-75">
    <div>
        <h1>AIgo Music Generation</h1>
        <p>Turn your prompt into music.</p>
    </div>
    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" class="form-group d-flex flex-column gap-2 border border-secondary-subtle rounded p-3">
        <div>
            <textarea 
                type="textbox" 
                name="prompt" 
                formControlName="prompt"
                id="prompt" 
                class="form-control h-50 border-0" 
                style="resize: none;" 
                placeholder="Piano solo"
            >
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary w-md-25 m-auto mt-2" [disabled]="!chatForm.valid">
            Generate
        </button>
    </form>
    <div *ngIf="response.errorMessage">
        <p>
            {{ response.errorMessage }}
        </p>
    </div>
    <div *ngIf="music.length === 0">
        <p>No music generated.</p>
    </div>
    <div *ngIf="music.length >= 1" class="w-100 m-0 p-0"> 
      <div *ngFor="let audio of music">
        <p>
            {{ audio | json }}
        </p>
      </div>
    </div>
</div>