<p>cart works!</p>

<form [formGroup]="cartForm" (ngSubmit)="onSubmit()" class="form-group d-flex flex-column   gap-2 border border-secondary-subtle rounded p-3">
    <ul>
        <li *ngFor="let pack of packs" class="list-group-item-light">
            <input [id]="pack.id" type="radio" [value]="pack.value" name="packInput" formControlName="packInput">
            <label [for]="pack.id">{{ pack.name }}  {{ pack.price }}</label>
        </li>
    </ul>
    <button type="submit" class="btn btn-primary w-md-25 m-auto mt-2" [disabled]="!cartForm.valid">
        Checkout
    </button>
</form>
