$link-decoration: none;
$input-placeholder-color: #f8f9fa45;

$red: red;
$theme-colors: (
    "primary":    #0E6EFD,
    "secondary":  #6D757D,
    "success":    #198754,
    "info":       #0DCAF0,
    "warning":    #FFC108,
    "danger":     #DC3545,
    "light":      #F8F9FA,
    "dark":       #212529,
    "cl-dark-primary": red,
    "cl-dark-secondary": $red,
    "cl-purple-accent": #B997FF
);
    
body {
    min-height: 100vh;
    background-image: linear-gradient(151deg, rgba(15,6,19,1) 0%, rgba(29,8,29,1) 63%, rgba(62,34,69,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none !important; /* no underline */
}

.hov-purple:hover {
    background-image: linear-gradient(151deg,rgba(62,34,69,1) 0%, rgba(29,8,29,1) 25%, rgba(15,6,19,1) 100%,);
    box-shadow: 0 8px 32px 0 rgba(55, 29, 62, 0.5);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
}

@import 'bootstrap/scss/bootstrap';