/* You can add global styles to this file, and also import other style files */
$red: red;

/* Importing Bootstrap SCSS file. */
$theme-colors: (
    "primary":    #0E6EFD,
    "secondary":  #6D757D,
    "success":    #198754,
    "info":       #0DCAF0,
    "warning":    #FFC108,
    "danger":     #DC3545,
    "light":      #F8F9FA,
    "dark":       #212529,
    "cl-dark-primary": red,
    "cl-dark-secondary": $red,
    "cl-purple-accent": #B997FF
);
    
@import 'bootstrap/scss/bootstrap';

body {
    background-color: #212529;
}

a {
    text-decoration: inherit; /* no underline */
}